@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	font-family:'Open Sans' !important; 
	font-size:15px !important;
	line-height:30px !important;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}
body {
	
}
.no-js {
	padding-top: 106px;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}
/* Slide 1 */
#slide-1 .bcg {
	background-image:url('../images/bg1.jpg'); 
	height: 595px;
}
#slide-1 h1{
	font-size:50px;
	margin-bottom:40px;
	margin:0;
	padding-top:60px;
	padding-bottom:60px;
}
#slide-1 .content{
	width:940px;
	color:white;
	margin:auto;
	text-align:center; 
}
#slide-1 .text{
	text-align:justify;
	line-height:25px;
}
/* Slide 2 */
#slide-2 .bcg {
	background: none; 
	background-color: #010101; 
	height: 310px; 
	text-align: center;
}


.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 450px;
	margin: -150px auto 0 auto;
	display: table-cell;
	vertical-align: middle;
	color: #ebebeb;
	padding: 0 8%;
	text-align: center
}
.hsContent h2,
.copy h2 {
	color: #ffffff;
	font-size: 45px;
	line-height: 48px;
	margin-bottom: 12px;
}
.hsContent p {
	width: 400px;
	margin: 0 auto;
	color: #b2b2b2;
}
.hsContent a {
	color: #b2b2b2;
	text-decoration: underline;
}
.bgBlack {
	background-color: rgba(0,0,0,0.75);
	padding: 3px 10px;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* Main styles */
h1 {
	margin: 0;
	font-family: 'Roboto', sans-serif !important;
	font-size: 32px;
	font-weight:100 !important;
	text-transform:uppercase;
}
h2 {
	margin:0 !important;
	color: #1c1d1e;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.container{
	width:960px !important;
	padding:0 !important;
}
.entry-header .inner {
	text-align: left;
	margin: 0 auto 20px auto;
	width: 800px;
}
.entry-header { 
	padding-top: 5px; 
	background-color: #646464; 
	width:100%; 
	height:47px;
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 999999; 
}
.entry-header .logo{
	float:left;
	margin-left:15px;
	margin-top:2px;
}
.main-menu{
	position:relative;
	left:30px;
	top:8px;
}
.main-menu ul, .lang-menu ul, .social-menu ul{
	margin:0;
	padding:0;
	list-style:none;
}
.main-menu ul li{
	margin:0;
	padding:0;
	float:left;
	text-transform:uppercase;
	margin-right:20px;
	font-size:15px;
}
.main-menu ul li a, .lang-menu ul li a{
	color:white;
	text-decoration:none;
}
.main-menu ul .selected a, .lang-menu ul .selected a{
	color:black;
}
.lang-menu{
	float:right;
	margin-right:20px;
	margin-top:7px;
}
.lang-menu ul li{
	margin:0;
	padding:0;
	float:left;
	text-transform:uppercase;
	font-size:15px;
	color:white;
	margin-left:5px;
}
.social-menu{
	float:right;
	margin-right:20px;
	margin-top:9px;
}
.social-menu ul li{
	margin:0;
	padding:0;
	float:left;
	margin-left:10px;
}
.social-menu .facebook{
	background:url(../images/facebook.png);
	display:inline-block;
	width:25px;
	height:26px;
}
.social-menu .youtube{
	background:url(../images/youtube.png);
	display:inline-block;
	width:26px;
	height:26px;
}
.header-arrow-div{
	margin-top:44px;
	position:relative;
	top:-2px;
}
.header-arrow-filler{
	height:6px;
	width:270px;
	background-color:#646464;
	float:left;	 
}
.header-arrow{
	background:url(../images/strzalka-menu-glowne.png) left center no-repeat;
	height:6px;  
	margin-left:270px;
}
.slider{
	height:510px;
	overflow:hidden;
}
.slider .slide{
	height:510px;
	width:100vw;
	background-size:cover;
	float:left;
}
.logotypes{
	height:180px;
	background-color:#141414;
}
#logos-left{
	float:left;
	position:relative;
	width:18px;
	height:31px;
	background:url(../images/logos-left.png) no-repeat;
	top:-103px;
	left:20px;
	cursor:pointer;
}
#logos-right{
	float:right;
	position:relative;
	width:18px;
	height:31px;
	background:url(../images/logos-right.png) no-repeat;
	top:-103px;
	left:-20px;
	cursor:pointer;
}
.logotypes .logos{
	position:relative;
	left:50%;
	margin-left:-495px; 
	width:990px;
	overflow:hidden;
}
.logotypes #logos-in{
	width:99999px;
	position:relative;
}
.logotypes .logos .logo{
	float:left;
	width:330px;
	height:180px; 
	cursor:pointer;
}
.logotypes .logos .logo div{
	width:330px;
	height:180px;  
}
.logotypes .logos .selected{
	background:url(../images/logos-arrow.png) center bottom no-repeat;
}
.logotypes .logos .logo:hover{
	background-color:#1D1D1D !important;
}
.logotypes-content{
	background-color:#646464;
	padding-top:60px;
	padding-bottom:60px;
	color:white;
}
.logotypes-content .content{
	width:940px;
	margin:auto;
}
.logotype{
	display:none;
	padding-left:330px;
}
#logotype-1{
	background:url(../images/iida.png) left center no-repeat;
	display:block;
}
#logotype-2{
	background:url(../images/european-property-award-big.png) left center no-repeat;
}
#logotype-3{
	background:url(../images/the-design-property.png) left center no-repeat;
}
.content-two-columns{
	background-color:#DCDCDC;
	margin:auto;
	text-align:center;
	padding-top:60px;
	padding-bottom:60px;
}
.content-two-columns .content, 
.info .content{
	width:940px;
	margin:auto;
}
.content-two-columns h1{
	margin:0px;
	display:inline-block;
	font-weight:normal;
	margin-bottom:60px;
	font-size:50px;
}
.content-two-columns .text{
	text-align:justify;
	line-height:25px;
}
.info{
	background-color:#646464;
	color:white;
	padding-bottom:30px;
}
.info .content{
	text-align:center;
	padding-top:85px;
	line-height:20px;
	font-size:14px;
}
.info h2{
	font-size:20px;
	font-weight:bold;
	padding-bottom:15px;
}
.logo-footer{
	width:0;
	height:0;
	overflow:visible;
	position:relative;
	z-index:1;
	left:50%;
	margin-left:-75px;
	top:-65px;
}
.logo-footer .logo{
	background:url(../images/logo-footer.png) center center no-repeat;
	width:150px;
	height:130px;
}
footer{
	background-color:#141414;
	color:white;
	padding-top:30px;
	padding-bottom:30px;
	margin:auto;
	line-height:20px;
}
footer a{
	color:white;
}
footer a:hover{
	color:white;
}
footer .container{
	width:680px !important;
}